/*style scss*/
$text-color: #00FF00;
$text-color2: #FF0000;

.info{
    font-size: 12px;
}
.succes{
    color: $text-color;
    @extend .info;
}

.warning{
    color: $text-color2;
    @extend .info;
}